body {
    background-color:  #FFFFFF;  
    color: var(--secondary-text-color); 
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}

.list {
    list-style: none;
}

a{
    text-decoration: none;
}


/* цвет основного текста #212121; */

/* вторичный цвет текста  #757575; */

/* цвет акцента #2196F3; */

/* белый цвет текста #FFFFFF; */

/* цвет лого #000000 */

/* вторичный цвет фона #F5F4FA;  */

:root {
    --accent-color: #2196F3;
    --primary-text-color: #212121;
    --secondary-text-color:#757575;
    --white-color:#FFFFFF;
}

/* ======================style for index.html ==================*/
/* ====================== header ==================*/
/* logo */

.logo{
    color: #000000;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
}
 .logo-accent {
     color: var(--accent-color);
 }

 /* site nav */

 .site-nav .link{
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
 }
 .site-nav .link:hover,
 .site-nav .link:focus {
    color:var(--accent-color);
}
/* auth-nav list  */

.auth-nav .link{
    color: var(--secondary-text-color);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
}
.auth-nav .link:hover,
.auth-nav .link:focus {
   color:var(--accent-color);
}

/* ====================== main for index.html ==================*/

/* section */
.section-title {
    color: var(--primary-text-color);
    font-weight: bold;
    font-size: 36px;
    line-height: 1.166;
    letter-spacing: 0.03em;
}

/* hero */

.hero-title {
    color: var(--white-color);
    text-transform: uppercase;
    letter-spacing: 0.06em;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.364;
    background-color: grey;
}

.button {
    color: var(--white-color);
    background-color: var(--accent-color);
    font-weight: bold;
    font-size: 16px;
    line-height: 1.185;
    letter-spacing: 0.06em;
    border:none;
}

/* advatages */

.advantages .title{
    color: var(--primary-text-color);
    font-weight: bold;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.advantages .description{
    font-weight: normal;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* our team */

.team-name {
    color: #212121;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.188;
    letter-spacing: 0.03em;
}

.team-position{      
    font-weight: normal;
    font-size: 16px;
    line-height: 1.188;
    letter-spacing: 0.03em;
}

/* ================== footer for index.html ================ */

.address {
    color: var(--white-color);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
}

.contacts .link{
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
}

.logo-footer {
    color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
}

.footer{
    background-color: #2F303A;
}



/* ======================style for portfolio.html ==================*/


/* projects */

.project-title{
    color: var(--primary-text-color);
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.project-description{
    font-weight: normal;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
}


.portfolio-btn{
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    letter-spacing: 0.03em;
    background: #F5F4FA;
    border-radius: 4px;
    border: none;
}


.portfolio-btn:hover,
.portfolio-btn:focus {
    color: var(--white-color);
    background-color: var(--accent-color);
    cursor: pointer;
}